<div id="size-chart-popup">
  <a class="b-close">X</a>
  <div id="size-chart-div">
  <table border="1">
    <tr>
      <th colspan="4">
      Men's Sweatshirts
      </th>
    </tr>
    <tr class="first-th">
      <th>Sizes</th>
       <th>Width (IN)</th>
       <th>Length (IN)</th>
       <th>Sleeve Center Back (IN)</th>
    </tr>
    <tr>
      <th>S</th>
      <td>19.25</td>
      <td>27</td>
      <td>33.5</td>
    </tr>
    <tr>
      <th>M</th>
      <td>21.25</td>
      <td>28</td>
      <td>34.5</td>
    </tr>
    <tr>
      <th>L</th>
      <td>23.25</td>
      <td>29</td>
      <td>35.5</td>
    </tr>
    <tr>
      <th>XL</th>
      <td>25.25</td>
      <td>30</td>
      <td>36.5</td>
    </tr>
    <tr>
      <th>2XL</th>
      <td>27.25</td>
      <td>31</td>
      <td>37.5</td>
    </tr>
    <tr>
      <th>3XL</th>
      <td>29.25</td>
      <td>32</td>
      <td>38.5</td>
    </tr>
  </table>
  </div>
</div>
<style>
  #size-chart-popup{
      left: 25% !important;
    position: fixed;
    top: 0px;
    z-index: 9999;
    opacity: 1;
    background: white;
    width: 50%;
    top: 20% !important;
	
    display:none;
  }
  #size-chart-div{
        padding: 50px;
  }
  #size-chart-popup table{
    font-size: 15px;
        border: 1px solid black;
  }
  #size-chart-popup th, td {
    padding: 13px;
      text-align: center;
  }
  #size-chart-popup th{
    font-weight:600;
  }
  .first-th{
      background: black;
    color: white;
    border: 1px solid white
  }
  a.b-close {
    font-size: 15px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    color: black;
}
</style>

<div id="size-chart-popup-mobile" style="background-color: #fff;">
  <a class="b-close">X</a>
  <div id="size-chart-div">
  <table border="1">
    <tr>
      <th colspan="4">
      Men's Sweatshirts
      </th>
    </tr>
    <tr class="first-th">
      <th>Sizes</th>
       <th>Width (IN)</th>
       <th>Length (IN)</th>
       <th>Sleeve Center Back (IN)</th>
    </tr>
    <tr>
      <th>S</th>
      <td>19.25</td>
      <td>27</td>
      <td>33.5</td>
    </tr>
    <tr>
      <th>M</th>
      <td>21.25</td>
      <td>28</td>
      <td>34.5</td>
    </tr>
    <tr>
      <th>L</th>
      <td>23.25</td>
      <td>29</td>
      <td>35.5</td>
    </tr>
    <tr>
      <th>XL</th>
      <td>25.25</td>
      <td>30</td>
      <td>36.5</td>
    </tr>
    <tr>
      <th>2XL</th>
      <td>27.25</td>
      <td>31</td>
      <td>37.5</td>
    </tr>
    <tr>
      <th>3XL</th>
      <td>29.25</td>
      <td>32</td>
      <td>38.5</td>
    </tr>
  </table>
  </div>
</div>
<style>
  #size-chart-popup-mobile{
       background-color: rgb(255, 255, 255);
    left: 0px;
    position: absolute;
    top: 60px;
    z-index: 9999;
    opacity: 0;
    display: none;
  }
  #size-chart-div{
        padding: 50px;
  }
  #size-chart-popup-mobile table{
    font-size: 15px;
        border: 1px solid black;
  }
  #size-chart-popup-mobile th, td {
    padding: 13px;
      text-align: center;
  }
  #size-chart-popup-mobile th{
    font-weight:600;
  }
  .first-th{
      background: black;
    color: white;
    border: 1px solid white
  }
  a.b-close {
    font-size: 15px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    color: black;
}
</style>
